.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(to top, beige, #F2EEAC);
}